{% extends 'base.html' %}
{% block content %}
<!-- <h1>Our Services</h1>
<h2>Corporate Events</h2>
<p>Placeholder content for corporate events.</p>
<h2>Social Events</h2>
<p>Placeholder content for social events.</p>
<h2>Company Canteen Management</h2>
<p>Placeholder content for company canteen management.</p> -->

<section class="we-offer-area text-center bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading text-center">
                    <h4>Our Services</h4>
                    <h2>What we <span>Offer</span></h2>

                </div>
            </div>
        </div>
        <div class="row our-offer-items less-carousel">
            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-building"></i>
                    <h4>Corporate Events</h4>
                    <p>
                        We can handle of all the details for your Corporate Luncheon, Company Party, Board Meeting, Gala
                        night, Annual General Meetings e.t.c! </p>
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-glass-cheers"></i>
                    <h4>Social Events</h4>
                    <p>
                        You Bring the Party, We’ll Bring the Feast! We’ll ensure your
                        celebration is unforgettable with our exquisite catering. 🎉🍽️
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-cash-register"></i>
                    <h4>Canteen Management</h4>
                    <p>
                        Let DTC manage your canteen operations. We’ll keep your
                        employees rejuvenated while cutting overheads.🌟🍽️ </p>
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-mug-hot"></i>
                    <h4>Staff Breakfast & Lunch</h4>
                    <p>
                        Got a lot on your plate? So do we! 🍽️

                        Daily meals boost engagement, productivity, and camaraderie.🚀
                    </p>
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-ring"></i>
                    <h4>Wedding Catering</h4>
                    <p>
                        Tailored menus for your special day. Elevate Your Special Day with Exquisite Wedding Catering!”
                        💍🍽️</p>
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-shipping-fast"></i>
                    <h4>Home Delivery</h4>
                    <p>
                        From Our Kitchen to Your Doorstep: Savor the Convenience of Home-Delivered Deliciousness!” 🚚🍽️
                    </p>
                </div>
            </div>
            <!-- End Single Item -->
        </div>
    </div>
</section>
{% endblock %}