{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="bg-light p-4 border rounded">
        <H2 class="text-center mb-4">DTC TERMS & CONDITIONS
        </H2>
        <p class="text-center font-italic">"Your satisfaction is our joy"</p>

        <h3>1. Event Requirements</h3>
        <p>Delicious Tumaini Caterers reserves the right to maintain the originally agreed pricing, regardless of any
            reduction in the actual number of attendees present at the event.</p>

        <h3>2. Liability Disclaimer for Exceeding Attendee Limits</h3>
        <p>If the number of attendees exceeds the originally specified in contract and some of the food depletes before
            all are served, we are not to be held liable.</p>

        <h3>3. Validity / Final Arrangement</h3>
        <p>Final confirmation and adjustments on the number of attendees must be provided at least 2 working days in
            advance.</p>

        <h3>4. Deposit / Balance of Payment</h3>
        <p>A 70% deposit is required of the total estimated amount upon confirmation of the event. The balance of total
            payment shall be made two days before the event date. Your final arrangement on the
            number of persons / tables attending / for this function must be given to us in writing 48 HOURS (2 days)
            before the commencement of the function together with the balance of payment. Payment for other
            miscellaneous charges can be made to us after the function.</p>
        <p>For your information, the payment can be made either by Cash, Cheque or direct ank transfer in favor of
            DELICIOUS TUMAINI CATERERS.</p>

        <h3>4. Cancellation Policy</h3>
        <p>Any cancellation of reservation must be in writing to the management at least 48 HOURS (2 days) prior to the
            date of function. No refund will be entertained except for postponement of function date (duration 2
            months). If a booking is canceled with less than 48 HOURS (2 days) notice prior to the date of function, the
            total deposit shall be forfeited.</p>
        <p>Amendments: All amendments must be conveyed in writing at least 48 hours prior to your function.</p>

        <h3>5. Authorized Signatory</h3>
        <p>To ensure a seamless catering experience, please be advised that additional charges may apply during your
            event. We request a list of individuals authorized to approve charges to the main account. Only those
            specified will have the authority to authorize expenses. Thank you for your cooperation.</p>

        <h3>6. Timeliness and Consumption of Food</h3>
        <p>Food will be delivered on time and should be consumed within 1.5 hours of arrival. If we experience a delay
            beyond the agreed-upon time, we will notify you as soon as possible. In such cases, no overtime fee will
            apply. However, if the food is not consumed within the specified timeframe, we will not be liable for any
            issues related to quality. Thank you for your understanding..</p>
    </div>
</div>
{% endblock %}