{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="bg-light p-4 border rounded">
        <H2 class="text-center mb-4">DTC TERMS & CONDITIONS
        </H2>
        <p class="text-center font-italic">"Your satisfaction is our joy"</p>

        <h3>1. Event Requirements</h3>
        <p>Delicious Tumaini Caterers reserves the right to revise the pricing should the number of function attendees
            fall below the minimum guaranteed.</p>

        <h3>2. Validity / Final Arrangement</h3>
        <p>We would require your final confirmation of arrangement and number of Pax/Person at least 5 working days in
            order for us to arrange the function as per your requirement stipulated above. We reserve the right to
            release this function unless a written confirmation has been received from your organization. Failing to
            inform which the event will be automatically released without prior notice. This is to ensure that the
            catering blocked that you do not require can be sold to another non-conflicting organization.</p>

        <h3>3. Deposit / Balance of Payment</h3>
        <p>A 70% deposit is required of the total estimated amount upon confirmation of this offer on the same day and
            the balance of total payment shall be made two (2) days before the event date. Your final arrangement on the
            number of persons / tables attending / for this function must be given to us in writing 48 HOURS (2 days)
            before the commencement of the function together with the balance of payment. Payment for other
            miscellaneous charges can be made to us after the function.</p>
        <p>For your information, the payment can be made either by Cash or Cheque in favor of DELICIOUS TUMAINI CATERERS
            or bank into our MAYBANK bank account. Our account number is 5124 6454 2370</p>

        <h3>4. Cancellation Policy</h3>
        <p>Any cancellation of reservation must be in writing to the management at least 48 HOURS (2 days) prior to the
            date of function. No refund will be entertained except for postponement of function date (duration 2
            months). If a booking is canceled with less than 48 HOURS (2 days) notice prior to the date of function, the
            total deposit shall be forfeited.</p>
        <p>Amendments: All amendments must be conveyed in writing at least 48 hours prior to your function.</p>

        <h3>5. Authorized Signatory</h3>
        <p>We anticipate that there may be some other additional requirements or incidental charges during the function
            proper. Therefore, we would be much obliged if you could furnish us a list of the officers who are
            authorized to sign charges to the master account folio. No one will be allowed to sign charges unless
            stipulated in your correspondence to us.</p>

        <h3>6. Other Audio Visual Requirements</h3>
        <p>The company has a list of other equipment that can be made available upon request. There will be a surcharge
            depending on your requirements.</p>
    </div>
</div>
{% endblock %}